<RunSettings>

  <TestRunParameters>
    <!-- End Points -->  
    <Parameter name="browser_type" value="Chrome" />
    <Parameter name="browser_type" value="Firefox" />
    <Parameter name="browser_type" value="IE" />
  </TestRunParameters>

  <MSTest>
    <DeploymentEnabled>False</DeploymentEnabled>
  </MSTest>

</RunSettings>
